.contenedor_barra_busqueda{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_barra_busqueda > input{
    width: 100%;
    background-color: var(--color_4);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
    outline: none;
}

.contenedor_barra_busqueda > button{
    font-size: 25px;
    color: var(--color_4);
    background-color: var(--color_6);
    border: none;
    filter: var(--sombra_2);
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.contenedor_barra_busqueda > button:hover{
    filter: none;
    transform: var(--tamano_1);
}