.contenedor_mas_del_vendedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_mas_del_vendedor > p{
    margin-top: 40px;
    width: 100%;
    padding: 20px 0px;
    font-size: 25px;
}

.contenedor_mas_del_vendedor > div{
    width: 100%;
    height: 100vh;
    background-color: var(--color_4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
    overflow: auto;
}