.contenedor_modal_pago{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_modal_pago > div{
    width: 50%;
    min-width: 300px;
    background-color: var(--color_4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
}

.contenedor_modal_pago > div > div,
.contenedor_modal_pago > div > form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 20px;
}

.contenedor_modal_pago > div > div > p:nth-of-type(1),
.contenedor_modal_pago > div > form > p:nth-of-type(1){
    font-size: 25px;
}

.contenedor_modal_pago > div > form > select{
    width: 100%;
    background-color: var(--color_4);
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
    outline: none;
}

.contenedor_modal_pago > div > form > button{
    font-size: 20px;
    color: black;
    background-color: var(--color_7);
    border: none;
    filter: var(--sombra_2);
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.contenedor_modal_pago > div > form > button:hover{
    filter: none;
    transform: var(--tamano_1);
}

.contenedor_modal_pago > div > button{
    font-size: 20px;
    color: var(--color_4);
    background-color: var(--color_6);
    border: none;
    filter: var(--sombra_2);
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.contenedor_modal_pago > div > button:hover{
    filter: none;
    transform: var(--tamano_1);
}