.contenedor_productos_vendedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_productos_vendedor > p{
    width: 100%;
    font-size: 25px;
}

.contenedor_productos_vendedor > div{
    width: 100%;
    background-color: var(--color_4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
}

/* --- Cada tarjeta del vendedor --- */
.producto_vendedor_card{
    width: 260px;
    background: var(--color_1);
    border-radius: 10px;
    padding: 15px;
    border: var(--border_1);
    filter: var(--sombra_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    transition: .3s;
}


/* --- Imagen del producto --- */
.producto_vendedor_img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: var(--border_1);
}

/* --- Botón eliminar --- */
.btn_eliminar{
    font-size: 20px;
    color: var(--color_4);
    background-color: var(--color_6);
    border: none;
    filter: var(--sombra_2);
    padding: 5px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn_eliminar:hover{
    filter: none;
    transform: var(--tamano_1);
}
