.contenedor_tarjeta_inicio{
    width: 350px;
    min-width: 250px;
    height: fit-content;
    min-width: 150px;
    min-height: 200px;
    background-color: var(--color_1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
    cursor: pointer;
    transition: .3s;
}

.contenedor_tarjeta_inicio:hover{
    filter: none;
    transform: var(--tamano_1);
}

.contenedor_tarjeta_inicio > p{
    font-size: 25px;
    color: var(--color_4);
}

.contenedor_tarjeta_inicio > img{
    width: 80%;
    min-width: 150px;
    height: 50%;
    min-height: 150px;
    object-fit: contain;
}