.contenedor_info_tarjeta{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_info_tarjeta > div:nth-child(2){
    width: 80%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0px 20px 0px;
}

.contenedor_info_tarjeta > div:nth-child(2) > a{
    width: 100%;
    font-size: 25px;
    color: black;
}

.contenedor_info_tarjeta > div:nth-child(2) > div > p{
    margin: 100px 0px 20px 0px;
    font-size: 25px;
}

.caja_resenas{
    background-color: var(--color_4);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
}

.caja_resenas > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    margin: 40px 0px;
}

.caja_resenas > :nth-child(2) > :last-child{
    font-size: 30px;
    color: var(--color_6);
}