.contenedor_info_tarjeta{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_info_tarjeta > div:nth-child(2){
    width: 80%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0px 20px 0px;
}

.contenedor_info_tarjeta > div:nth-child(2) > a{
    width: 100%;
    font-size: 25px;
    color: black;
}