.contenedor_inicio{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio > div:nth-child(2){
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0px 20px 0px;
}

.caja_tarjetas_inicio_inicio{
    width: 90%;
    margin: 50px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.caja_barra_busqueda_inicio{
    min-width: 300px;
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.caja_barra_busqueda_inicio > p{
    width: 200px;
    text-align: center;
    font-size: 25px;
}

.caja_productos_inicio{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja_productos_inicio > div{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: auto;
    padding: 20px 0px;
}

.caja_productos_inicio > a{
    text-align: center;
    font-size: 25px;
    color: black;
}