.contenedor_inicio_sesion{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio_sesion > div:nth-child(2){
    width: 40%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 50px 0px 0px 0px;
}

.imagen_perfil_usuario {
    width: 120px;       
    height: 120px;
    border-radius: 50%; 
    object-fit: cover;  
    border: 3px solid #ddd;
    cursor: pointer;
    transition: 0.3s ease;
}

/* EFECTO HOVER */
.imagen_perfil_usuario:hover {
    transform: scale(1.05);
    border-color: #aaa;
}