.contenedor_inicio_sesion{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_inicio_sesion > div:nth-child(2){
    width: 40%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 50px 0px 0px 0px;
}
