.contenedor_not_found{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_not_found > img{
    width: 100%;
    height: 100%;
}