.contenedor_perfil_cliente{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_perfil_cliente > div:nth-child(2){
    width: 90%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 50px 0px 0px 0px;
}

.caja_pedidos_cliente_perfil_cliente{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caja_pedidos_cliente_perfil_cliente > p{
    width: 100%;
    padding: 20px 0px 0px 0px;
    font-size: 25px;
}

.caja_pedidos_cliente_perfil_cliente > div{
    width: 100%;
    background-color: var(--color_4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
}


/* Perfil Vendedor */
.boton_registrar_producto{
    font-size: 20px;
    color: var(--color_4);
    background-color: var(--color_6);
    border: none;
    filter: var(--sombra_2);
    padding: 3px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.boton_registrar_producto:hover{
    filter: none;
    transform: var(--tamano_1);
}